* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  padding: 30px;
}

.nav {
  width: 300px;
  margin-right: 30px;
}

.list {
  border: 1px solid #e1e1e1;
  list-style-type: none;
}

.item {
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  color: #fff;
  background-color: #0f7ffa;
}

.profile {
  border: 1px solid #e1e1e1;
}

.profile__item {
  padding: 10px;
}

.avatar {
  width: 100%;
}